:root {
    --black: #080a0c;
}


* {
    transition: all ease-in-out 0.3s;
}

/* .rotate_letter {
    display: inline-block;
    transform: rotate(-90deg);
}

.space {
    display: inline-block;
    width: 1em;
    height: 1em;
} */

@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/roboto_mono.ttf');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/roboto_reg.ttf');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/roboto_thin.ttf');
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/Gotham-Book.otf');
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/Gotham-XLight.otf');
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/jetbrains_mono.ttf');
}

@font-face {
    font-family: 'JetBrainsMonoLight';
    src: url('../fonts/jetbrains_mono_light.ttf');
}

body {
    width: auto;
    height: 100vh;
    margin: 0;
    background: #141313;
    background-repeat: repeat-x;
    background-size: auto;
    background-position: center;
}

.console_highlight1::after {
    content: " ---";
    color: var(--black);
    animation: console_loading_after 2s ease 0s infinite alternate;
    font-weight: bolder !important;
}

.console_highlight1::before {
    content: "--- ";
    animation: console_loading_before 2s ease 0s infinite alternate;
    font-weight: bolder !important;
    color: var(--black);
}

.assest_container {
    position: absolute;
    width: 100vw;
    height: 100%;
    font-family: 'JetBrainsMono';
    color: white;
    z-index: -2;
}

.loading_main {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0vw;
    z-index: 2;
}

.bar_top {
    width: 100%;
    height: 7px;
    background: repeating-linear-gradient(45deg, black, black 10px, #FF9800 10px, #FF9800 20px);
    position: absolute;
    animation: moveStripes 10s linear alternate infinite;
    filter: brightness(0.5);
}

.bar_bottom {
    width: 100%;
    height: 7px;
    background: repeating-linear-gradient(315deg, black, black 10px, #FF9800 10px, #FF9800 20px);
    position: absolute;
    bottom: 0;
    animation: moveStripes 10s linear alternate-reverse infinite;
    filter: brightness(0.5);
}

@keyframes moveStripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

.enlist_btn {}

.session_info_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 3px;
    font-size: 10px;
    position: absolute;
    top: 23px;
    left: 16px;
}

.session_info_bottom {
    font-family: 'JetBrainsMonoLight';
    font-weight: 100 !important;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    left: 16px;
    bottom: 23px;
    letter-spacing: 2px;
    width: -webkit-fill-available;
    width: -moz-fill-available;
}

.loading_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: var(--black); */
    background: linear-gradient(to right, rgb(128 128 128 / 9%) 1px, var(--black) 1px), linear-gradient(to bottom, rgb(255 255 255) 1px, hsl(210deg 1.47% 26.23% / 24%) 1px), black;
    background-size: 95px 95px;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    z-index: 10;
}

.session_op_topic1 {
    font-family: 'GothamLight';
    font-weight: bolder;
}

.session_op_topic2 {
    font-family: 'JetBrainsMonoLight';
    font-weight: 700;
}

.session_op_status {
    width: 10px;
    height: 10px;
    background: #18c902;
    border-radius: 50%;
    box-shadow: #18c902 0 0 20px 2px;
    margin: 0 0 0 3px;
    animation: session_op_status_ani 3s ease 0s infinite alternate;
}

@keyframes session_op_status_ani {
    0% {
        box-shadow: #18c902 0 0 0px 0px;
    }
    100% {
        box-shadow: #18c902 0 0 20px 2px;
    }
}

.session_op_time1 {
    text-transform: uppercase;
}

/* .session_op_time2 {}

.session_op_ip {} */

.session_op_motto {
    font-style: italic;
    color: red;
    position: absolute;
    right: 16px;
    font-weight: bold;
}

.console_highlight2 {
    margin: 0 5px;
    letter-spacing: 0px !important;
    background: #b80917;
    padding: 3px 2px 3px 2px;
}

.loading_img {
    height: 19em;
    margin: -95px 0 0 0;
    animation: logo_rotate 3s ease-in-out 0s infinite alternate;
}

.loading_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 51px 0 0 0;
}

.loading_console {
    position: absolute;
    width: 80%;
    height: 80%;
}

.loading_text_top {
    font-family: 'GothamBook';
    color: white;
    letter-spacing: 13px;
    font-weight: 100;
}

.loading_text_bottom.console_highlight1 {
    font-weight: 400;
    padding: 6px 10px 5px 10px;
    border-radius: 0px;
    font-size: 14px;
    color: white;
    background-color: #e70604;
    font-family: 'JetBrainsMono';
}

.loading_console_output {
    position: absolute;
    bottom: -32px;
    color: gray;
    font-family: 'JetBrainsMono';
    z-index: -1;
    opacity: 0.4;
}

@keyframes console_loading_before {
    0% {
        content: "--- ";
    }

    25% {
        content: "--- ";
    }

    50% {
        content: "/-- ";
    }

    75% {
        content: "//- ";
    }

    100% {
        content: "/// ";
    }
}

@keyframes console_loading_after {
    0% {
        content: " ---";
    }

    25% {
        content: " ---";
    }

    50% {
        content: " --/";
    }

    75% {
        content: " -//";
    }

    100% {
        content: " ///";
    }
}

@keyframes logo_rotate {
    0% {
        transform: rotateY(0deg);
    }

    20% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.loading_red {
    color: red;
}

.loading_orange {
    color: orange;
}

.loading_green {
    color: green;
}

.loading_blue {
    color: navy;
}

.home_main {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.home_bg0 {
    width: 100%;
    height: 80%;
    background: url(../img/map0.png);
    background-repeat: repeat-x;
    background-position-y: center;
    background-position-x: 0em;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: -23;
    animation: home_bg_scroll 300s ease 0s infinite alternate;
}

.home_bg1 {
    width: 100%;
    height: 99%;
    position: absolute;
    z-index: -23;
    background: linear-gradient(to right, rgb(128 128 128 / 9%) 1px, var(--black) 1px), linear-gradient(to bottom, rgb(255 255 255) 1px, hsl(210deg 1.47% 26.23% / 24%) 1px), black;
    background-size: 95px 95px;
    opacity: 0.7;
    background-position: center;
}

.map_line_con {
    position: absolute;
    height: 100%;
    width: 100vw;
    left: 0;
}

/* .map_line {position: absolute;}

.map_line1 {
    width: 173px;
    height: 2px;
    left: 59px;
    background: orange;
    top: 63px;
    transform: rotate(90deg);
}

.map_line2 {
    width: 1391px;
    height: 2px;
    background: orange;
    top: -23px;
    left: 144.3px;
}

.map_line3 {}

.map_line4 {} */

.content_main {
    position: fixed;
    width: auto;
    height: 100%;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: -100vw;
}

.content_slide {
    width: 100vw;
    height: 80%;
}

.content_slide0 {
    background: #080a0c;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content_slide1 {
    background: transparent;
}

.content_slide2 {
    background: green;
}

.content_slide3 {
    background: yellow;
}

.content_slide4 {
    background: white;
}

.content_slide5 {
    background: brown;
}

.content_slide6 {
    background: magenta;
}

.gallery_topic {
    height: 100%;
    width: 7%;
    background: white;
}

.gallery_con {
    height: 100%;
    width: 93%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: overlay;
}

.gallery_con>img {
    width: 31%;
    height: 31%;
    margin: 32px 10px 13px 18px;
}

.gallery_topic1 {
    writing-mode: tb;
    background: black;
    color: white;
    margin: 13px 0 28px 0;
    padding: 2px 2px;
    transform: rotate(90deg);
}

.gallery_topic2 {
    writing-mode: tb;
    text-orientation: mixed;
    letter-spacing: 19px;
}

.gallery_topic_con {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    font-size: 24px;
    font-family: 'JetBrainsMono';
} 

.landing_con_sub0 {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landing_con {
    width: 23%;
    height: 100%;
    background: white;
    margin: 16px;
}

.landing_con0 {
    display: flex;
    width: 23%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.landing_con1 {
    width: 46%;
    background: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing_con2 {
    border-radius: 6px;
}

.landing_con1_img {
    filter: grayscale(1);
    width: 48%;
}

.landing_con1_img:hover {
    filter: grayscale(0);
}

.landing_con1_p0 {
    font-size: 26px;
    font-family: 'GothamBook';
    text-transform: uppercase;
    color: #e70604;
    background: #181818;
    padding: 4px 11px;
    letter-spacing: 3px;
    font-weight: bold;
}

.landing_con1_p1 {
    text-transform: uppercase;
    font-family: 'JetBrainsMonoLight';
    color: gray;
    text-align: center;
}

@keyframes home_bg_scroll {
    0% {
        background-position-x: 0em;
    }
    100% {
        background-position-x: 200em;
    }
}

.landing_con0_sec0 {
    height: 57.47%;
    font-family: 'JetBrainsMono';
    width: -webkit-fill-available;
    width: -moz-fill-available;
    letter-spacing: 0px;
}

.landing_con0_sec1 {
    height: 39.5%;
    display: flex;
    flex-direction: column;
    font-family: 'JetBrainsMono';
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch;
    background: #181818;
}

.landing_con0_op0 {
    display: flex;
    flex-direction: column;
    background: #e70604;
}

.landing_con0_op1 {
    width: -webkit-fill-available;
    width: -moz-fill-available;
}

.landing_con0_op2 {
    margin: -28px 0px;
}

.landing_opp0 {
    align-self: center;
    margin: 0px 0px;
    padding: 6px 7px;
    background: black;
    color: white;
    font-size: 20px;
}

.landing_opp1 {
    background: orange;
    margin: 0px 0px;
    padding: 6px 0px;
    text-align: center;
}

.landing_opp2 {
    text-align: center;
    margin: 0px 0px;
    padding: 6px 0px;
    background: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

.landing_opp3 {
    padding: 10px 0px;
    font-weight: bolder;
    font-size: 23px;
    background: #e70604;
    text-align: center;
}

.landing_opp4 {
    font-size: 11px;
    background: #e70604;
    padding: 2px 7px 7px 0px;
    margin: -23px 0px;
    text-align: center;
    letter-spacing: 1px;
}

.landing_op_sep {
    margin: 0 7px;
    background: black;
    color: white;
    padding: 2px 3px;
    width: fit-content;
    display: inline-block;
}

.landing_con0_mem0 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mem0_founder_topic {}

.mem0_founder_topic_sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 15px;
}

.landing_con0_mem1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.mem0_founder_name {
    display: inline-block;
    margin: -7px 0;
    color: gray;
}

.mem0_founder_des {
    display: inline-block;
    margin: 11px 0px -6px 0px;
    font-weight: bold;
    color: red;
}

.mem0_admin_profile {
    display: flex;
    flex-direction: row;
}

.mem0_admin_profile>img {
    width: 48px;
    border-radius: 50%;
    margin: 0 5px;
}

.mem0_founder_profile {
    width: 48px;
    border-radius: 50%;
}

.mem0_side {writing-mode: tb;color: white;letter-spacing: 3px;}
